<!DOCTYPE html>
<html lang="en">
<head>
    <title>Datastore and Firebase Auth Example</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Datastore and Firebase Auth Example</h1>

<div id="firebase-auth-container"></div>
<button id="sign-out" hidden="true">Sign out</button>
<div id="login-info" hidden="true">
    <h2>Login Info</h2>
    {% if user_data %}
    <div>
        <p>Email: {{ user_data['email'] }}</p>
    </div>
    <form action="/add-directory" method="post">
        Directory Name: <input type="text" name="dir_name"/><input type="submit"/>
    </form>
    <form action="/upload-file" method="post" enctype="multipart/form-data">
        Upload File: <input type="file" name="file_name"/><input type="submit"/>
    </form>
    <h1>list of directories</h1><br/>
    {% for i in directory_list %}
    {{ i.name }}<br/>
    {% endfor %}
    <h1>list of files</h1><br/>
    {% for i in file_list %}
    <form action="/download-file/{{ i.name }}" method="post">
        {{ i.name }}<input type="submit"/><br/>
    </form>
    {% endfor %}
    {% elif error_message %}
    <p>Error Message: {{ error_message }}</p>
    {% endif %}
</div>

</body>

<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
<script src="{{ url_for('static', filename='app-setup.js') }}"></script>
</html>