<!DOCTYPE html>
<html lang="en">
<head>
    <title>Datastore and Firebase Auth Example</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Datastore and Firebase Auth Example</h1>

<div id="firebase-auth-container"></div>
<button id="sign-out" hidden="true">Sign out</button>
<div id="login-info" hidden="true">
    <h2>Login Info</h2>
    {% if user_data %}
    <div>
        <p>Email: {{ user_data['email'] }}</p>
    </div>
    <!-- form for adding in a new address -->
    <form action="/add-address" method="post">
        Address line 1:<input type="text" name="address1"/><br/>
        Address line 2:<input type="text" name="address2"/><br/>
        Address line 3:<input type="text" name="address3"/><br/>
        Address line 4:<input type="text" name="address4"/><br/>
        <input type="submit" name="button"/>
    </form>
    <br/>
    <!-- block that will print out the addresses in turn -->
    {% for address in addresses %}
    Address {{ loop.index - 1 }}<br/>
    Address line 1:{{ address.address1 }}<br/>
    Address line 2:{{ address.address2 }}<br/>
    Address line 3:{{ address.address3 }}<br/>
    Address line 4:{{ address.address4 }}<br/>
    <br/>
    <form action="/delete-address/{{ loop.index - 1 }}" method="post">
        <input type="submit" name="delete"/>
    </form>
    {% endfor %}
    {% elif error_message %}
    <p>Error Message: {{ error_message }}</p>
    {% endif %}
</div>

</body>

<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
<script src="{{ url_for('static', filename='app-setup.js') }}"></script>
</html>